In [1]:
import pandas as pd
df = pd.read_json (r'bmi.json')
df.to_csv (r'Path where the new CSV file will be stored\New File Name.csv', index = None)

In [2]:
df.head()

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70

In [3]:

# the formula for calculating bmi

#for i in df.WeightKg  j in df.HeightCm :
df['bmi'] = (df.WeightKg/(df.HeightCm**2))*100
    # ** is the power of operator i.e height*height in this case
#print("Your BMI is: {0} and you are: ".format(bmi), end='')

In [4]:
df.bmi=df.bmi*100

In [5]:
df

   Gender  HeightCm  WeightKg        bmi
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [6]:
df

   Gender  HeightCm  WeightKg        bmi
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [7]:

for BMI in df['bmi']:
    #conditions
    if BMI <= 18.4:
        print("You are underweight.")
    
    elif BMI <= 24.9:
        print("You are healthy.")
    elif BMI <= 29.9:
        print("You are over weight.")
    elif BMI <= 34.9:
        print("You are severely over weight.")
    elif BMI <= 39.9:
        print("You are obese.")
    else:
        print("You are severely obese.")

You are severely over weight.
You are severely over weight.
You are healthy.
You are healthy.
You are severely over weight.
You are over weight.

In [8]:
df

   Gender  HeightCm  WeightKg        bmi
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [9]:
df

   Gender  HeightCm  WeightKg        bmi
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273